/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');


/* Sections style */

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: none;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 46px auto;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #FF3D00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 




* {
  box-sizing: border-box;
}


.gallery {
  display: flex;
 
  list-style: none;
  /* padding: 24px 0 0 0; */
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 24px;
}

.gallery-item:hover :link {
  cursor: pointer;
  color: #4E75FF;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}
.gallery__caption {
  display: inline-block;
  margin-right: 16px;
}